<!-- ■■□□□フッターここから□□□■■ -->
<div id="futter">
<ul><li class="t_left"><a href="./index.html">HOME</a></li>
<li class="t_middle"><a href="./dental_service.html">診療内容</a></li>
<li class="t_middle"><a href="./info.html">医院紹介</a></li>
<li class="t_middle"><a href="./price_list.html">治療費</a></li>
<li class="t_right"><a href="./access.html">アクセス</a></li>
</ul>
<p class="copyright">Copyright(c) Nishishinjyuku Dental TOYO Clinic. All rights Reserved.</p>
</div>
<!-- / futter -->
