<!-- ■■ヘッダー■■ -->
<div id="hedder" class="clear-fix">
<div id="logo">
<h2><a href="./index.html"><img src="./images/logo_toyo.gif" alt="西新宿歯科TOYOクリニック"></a></h2>
</div>
<!-- / logo -->
<div id="addless">
<p class="rmv">東京都新宿区西新宿1-19-7岡崎ビル3Ｆ</p>
<p class="rmv">電話番号：03-5324-6789</p>
</div>
<!-- / addless -->
</div>
<!-- / hedder -->
