<!-- ●●サブコンテンツ（右カラム）●● -->
<div id="sub-contents">
{{!-- <h2 class="sub-yoyaku"><span class="rmv">西新宿歯科TOYOクリニック 簡単予約はこちら</span></h2>
<div id="yoyaku">
<ul><li id="pc"><a href="http://www.secure-site.in/ASP/dent/na-dental-clinic/pc/">オンライン予約</a></li><li id="tel"><span>電話予約は：03-5324-6789まで</span></li></ul>
</div> --}}
<!-- / yoyaku -->
{{!--
<h2 class="sub4"><span class="rmv"><img src="./images/info_title.gif" alt="ケータイ版ホームページ"></span></h2>
<div id="mobile">
<p>バーコードを読み込むとケータイ版ホームページにアクセスできます。ケータイから診療予約も行えます。</p>
<img src="./images/na_qr.jpg" alt="西新宿歯科TOYOクリニック　携帯版ホームページ　QRコード">
</div> --}}
<!-- / mobile -->
<h2 class="sub1"><span class="rmv">診療時間</span></h2>
<div id="time">
<p>【AM】10：00～14：00<br>
【PM】15：30～19：30</p>
<p>休診日：土・日、祝祭日</p>
</div>
<!-- / time -->
<h2 class="sub2"><span class="rmv">診療一覧</span></h2>
<div id="service-list">
<ul>
<li>一般歯科</li>
<li>小児歯科</li>
<li><a href="./implant.html#perio"><span class="more">歯周病治療</span></a></li>
<li>予防歯科</li>
<li><a href="./implant.html"><span class="more">インプラント</span></a></li>
<li>矯正歯科</li>
<li><a href="./implant.html#beauty"><span class="more">審美歯科</span></a></li>
<li>口臭治療</li>
<li>口腔外科</li>
</ul>
</div>
<!-- / service-list -->
<h2 class="sub3"><span class="rmv"><img src="./images/info_title.gif" alt="お知らせ"></span></h2>
<div id="info">
  <p class="info-date"><strong>2016.08.01</strong></p>
  <ul>
    <li>オープン。<br>皆様のお口のパートナーになれますように頑張ります。</li>
  </ul>
  {{!-- <p class="info-date"><strong>2016.05.25</strong></p>
  <ul>
  <li>6/13（月）は、機械メンテナンス及び院内清掃のため、休診させていただきます。</li>
  </ul>
  <p class="info-date"><strong>2016.04.12</strong></p>
  <ul>
  <li>2016/8/12（金）、8/15（月）は、夏季休業とさせていただきます。</li>
  <li>年末年始は、2016/12/28（水）～2017/1/3（水）の間休診させていただきます。</li>
  </ul> --}}
</div>
<!-- / info -->

</div>
<!-- / sub-contents -->
