

/* アクセス
----------------------------------------------------

	1.	見出しクラスわけ
	2.	マップエリア
	3.	診療一覧
	4.	診療時間



----------------------------------------------------
*/



/*	1. 見出しクラスわけ
-----------------------------------------------	*/
#main-contents h1{
	background-image:url(../images/access/h1.gif);
	}

#main-contents h2.h2-1{
	background-image:url(../images/access/h2_1.gif);
	}

#main-contents h2.h2-2{
	background-image:url(../images/access/h2_2.gif);
	}

#main-contents h2.h2-3{
	background-image:url(../images/access/h2_3.gif);
	}

/*	2. マップエリア
-----------------------------------------------	*/
#map{
	width:510px;

/*
	width:537px;*/
	height:300px;
	margin:20px 0px 10px;
	}

#access_flow{
	margin:10px auto 20px auto;
	padding:0px;
	width:488px;
}

#access_flow .flow_img{
	width:100%;
	margin:0px;
	padding:0px;
}

#access_flow .flow_img .img_left{
	float:left;
	width:220px;
	background: url(../images/arrow.gif) no-repeat center right;
	padding-right:38px;
	margin:0 10px 0 0;
}

#access_flow .flow_img .img_right{
	float:left;
	width:220px;
}

#access_flow .arrow{
	background:url(../images/arrow_2.gif) no-repeat top center;
	margin:0 0 10px 0;
	height:24px;
}


/*	3. 診療一覧
-----------------------------------------------	*/
#main-contents ul.dental-item{
	list-style-type:none;
	margin:10px 0px 0px;
	padding:0px;

	}

.dental-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.dental-item {display: inline-block;}

/* Hides from IE-mac \*/
* html .dental-item {height: 1%;}
.dental-item {display: block;}
/* End hide from IE-mac */


#main-contents ul.dental-item li{
	float:left;
	background:url(../images/list_bg.gif);
	background-repeat:no-repeat;
	padding:0px 0px 0px 13px;
	margin:0px;
		}
#main-contents ul.dental-item li.margin{
	margin-left:15px;
	}

#main-contents ul.dental-item li a{
	color:#000000;
}
#main-contents ul.dental-item li a:hover{
	text-decoration:none;
	color:#4ca35c;
}

/*	4. 診療時間
-----------------------------------------------	*/
#service-time{
	clear:both;
	width:537px;
	margin-bottom:20px;
	}


#time-table{
	width:535px;
	background-color:#00aa1e;
	}
#time-table table{
	width:100%;
	}
#time-table th.row{
	text-align:left;
	background-color:#eff5f1;
	padding:3px;
	width: 140px;
	}
#time-table th.col{
	text-align:center;
	background-color:#ecffef;
	font-weight:normal;
	padding:3px;
	}

#time-table td{
	background-color:#ffffff;
	padding:3px;
	font-size:16px;
	text-align:center;
	}

#time-table td.orange{
	background-color:#FCF1C0;
	}
