/* トップページ以外共通CSS
----------------------------------------------------

	1.	大枠等
	2.	リンクテキスト
	3.	隠し要素
	4.	画像
	5.	回り込み解除
	6.	見出し,段落,div等ブロック要素マージン
	7.	PRエリア
	8.	ヘッダ
	9.	パンくず
	10.	メインコンテンツエリア

		10-1. 共通項目
		10-2. 画像
		10-3. リスト
		10-4. table要素

	11. フッター

----------------------------------------------------
*/





/*	1. 大枠等
-----------------------------------------------	*/

* {
	font-family: Arial, Helvetica, sans-serif;
}

body{
	text-align:center;
	background:url(../images/body_bg.jpg);
	background-repeat:repeat-y;
	background-position:center;
	background-color:#f7f6c7;
	margin:0px;
	padding:0px;
	font-size: 12px;
	line-height: 1.5;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	color:#333333;
	}

/*-------ページ大枠-------*/
div#allwrap{
	width:740px;
	margin:0px auto;
	text-align:left;
	}


body > div#allwrap{
	width:740px;
	margin:0px auto;
	text-align:left;
	}



/*	2. リンクテキスト
-----------------------------------------------	*/
a:link{color:#035ADE;text-decoration:none;}
a:visited{color:#035ADE;text-decoration:none;}
a:hover{color:#035ADE;text-decoration:underline;}




/*	3. 隠し要素
-----------------------------------------------	*/


.rmv
	{
	display:block;
	position:absolute;
	top:-9999px;
	left:-9999px;
	width:0px;
	height:0px;
	margin:0px;
	padding:0px;
	}


/*	4. 画像
-----------------------------------------------	*/


img {
	margin: 0;
	padding: 0;
	border: none;
	line-height: 0;
}


/*	5. 回り込み解除
-----------------------------------------------	*/

.clear{
	clear:both;
}

.clear-fix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear-fix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clear-fix {height: 1%;}
.clear-fix {display: block;}
/* End hide from IE-mac */



/*	6. 見出し,段落,div等ブロック要素マージン
-----------------------------------------------	*/

h1,h2,h3,h4,p,div{
	margin:0px;
	padding:0px;
	}
h1,h2,h3,h4{
	clear:both;
	}
p{
	margin-bottom:5px;
	}

/*---右寄せ指定 ---*/

.align-right{
	text-align:right;
	}

.green13{
	color:#01931a;
	font-size:13px;
}



/*	7. PRエリア
-----------------------------------------------	*/
div#pr{
	background-image:url(../images/pr_bg.gif);
	background-repeat:no-repeat;
	width:760px;
	height:23px;
	margin:0px auto;
	text-align:left;
	}

body > div#pr{
	width:760px;
	margin:0px auto;
	text-align:left;
	}

#pr p{
	text-align:center;
	font-size:12px;
	line-height:175%;
	margin:0px;
	}

#pr p a:link{color:#333333;text-decoration:none;}
#pr p a:visited{color:#333333;text-decoration:none;}
#pr p a:hover{color:#333333;text-decoration:none;}


/*	8. ヘッダー
-----------------------------------------------	*/
#hedder{
	clear:both;
	width:740px;
	height:64px;
	margin:0px;
	padding:0px;
	}

#logo{
	width:290px;
	height:64px;
	margin:0px;
	padding:0px;
	float:left;
	}

#logo h2{
	margin:0px;
	padding:0px;
	}
#logo h2 img{
	margin:0px;
	vertical-align:bottom;
	}


#addless{
	width:270px;
	height:64px;
	float:right;
	background-image:url(../images/address_bg.gif);
	background-repeat:no-repeat;
	background-position:right top;
	margin:0px;
	padding:0px;
	}

#intro{
	margin:0px 270px 0px 240px;
	padding:0px;
	height:64px;
	}

#intro p{
	padding:15px 0px 18px;
	font-weight:bold;
	color:#84B58E;
	}



/*	9. パンくず
-----------------------------------------------	*/
div#pan{
	width:740px;
	height:20px;
	margin:2px 0px 10px;
	padding:0px;
	border-top:1px solid #AFEEF1;
	border-bottom:1px solid #AFEEF1;
	background-color:#F3FDFE;
	}

div#pan p{
	margin:0px;
	vertical-align:middle;
	padding:3px 0px 0px 12px;
	font-size: 90%;
	}

div#pan a:link{color:#700037;text-decoration:none;font-size: 90%;}
div#pan a:visited{color:#700037;text-decoration:none;font-size: 90%;}
div#pan a:hover{color:#700037;text-decoration:underline;font-size: 90%;}



/*	10. メインコンテンツエリア
-----------------------------------------------	*/


/*---右側に背景を---*/

#mainwrap{
	clear:both;
	width:740px;
	margin:0px;
	padding:0px;
	background-image:url(../images/right_bg.gif);
	background-repeat:repeat-y;
	}
/*---2段組---*/
#main-contents{
	width:537px;
	float:left;
	margin:0px 15px 0px 0px;
	padding:0px;
	}

#sub-contents{
	width:188px;
	float:right;
	margin:0px;
	padding:0px 0px 30px 0px;
	height:100%;
	}



/*	10-1. 共通項目
------------------------------*/

#main-contents h1{
	margin-top:10px;
	margin-bottom:5px;
	height:31px;
	background-repeat:no-repeat;
	}


#main-contents h2{
	clear:both;
	margin-bottom:10px;
	margin-top:25px;
	height:35px;
	background-repeat:no-repeat;
	}

#main-contents h3{
	clear:both;
	margin-bottom:5px;
	margin-top:20px;
	height:25px;
	background-image:url(../images/h3_bg.gif);
	background-repeat:no-repeat;
	padding:5px 0px 0px 5px;
	font-size: 12px;
	}

#main-contents h3.qa{
	clear:both;
	margin-bottom:5px;
	margin-top:15px;
	height:25px;
	background-image:url(../dental_service/images/h3_qbg.gif);
	background-repeat:no-repeat;
	padding:5px 0px 0px 5px;
	font-size: 12px;
	}

#main-contents h4{
	clear:both;
	margin-bottom:5px;
	margin-top:20px;
	height:23px;
	background-image:url(../images/h4_bg.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	padding:5px 0px 0px 5px;
	font-size: 12px;
	}

.under_h1{
padding:15px 0px 0px 0px;
}



/*--- テキスト装飾 ---*/

.f-red{
	color:#FF0000;
}

.f-size_16{
	font-size:16px;
}

.f-blue{
	color:#0973b3;
}







/*	10-2. 画像
------------------------------*/


img.right-margin{
	float:left;
	margin-right:9px;
	}

img.left-margin{
	float:right;
	margin-left:9px;
	}


/*	10-3. ページトップ
------------------------------*/
p.ptop{
	clear:both;
	background-image:url(../images/to_pagetop.gif);
	background-position: right center;
	background-repeat:no-repeat;
	padding-right:20px;
	margin:20px 0px;
	text-align:right;
}

/*	10-4. リスト
------------------------------*/
#main-contents ol{
	margin:0px 0px 0px 25px;
	padding:0px;
	}

#main-contents ol li{
	padding:0px 0px 5px 0px;
	margin:0px;
		}

/*	9. フッター
-----------------------------------------------	*/

#futter{
	clear:both;
	width:740px;
	background-image:url(../images/futter_bg.gif);
	background-repeat:repeat-x;
	height:59px;
	margin-top:2px;
	}
#futter ul{
	float: left;
	width:450px;
	margin: 10px 0px 0px 5px;
	list-style-type: none;
	padding:0px;
	}

#futter ul li {
	float: left;
	margin:0px;
}
#futter ul li a{
	color:#ccc;
	}

#futter ul li.t_left a{
	padding-right: 10px;
	border-right: 1px solid #CCC;
}

#futter ul li.t_middle a{
	padding-right: 10px;
	padding-left:10px;
	border-right: 1px solid #CCC;
	}

#futter ul li.t_right a{
	padding-left:10px;
	}


#futter ul li.t_left a:link,#futter ul li.t_left a:visited,	#futter ul li.t_middle a:link,#futter ul li.t_middle a:visited,	#futter ul li.t_right a:link,#futter ul li.t_right a:visited{
	color:#666;
	text-decoration:none;
	}
#futter ul li.t_left a:hover,#futter ul li.t_middle a:hover,#futter ul li.t_right a:hover{
	color:#666;
	text-decoration:underline;
	}
#futter p.copyright{
	float: right;
	margin: 10px 0px 0px;
	text-align: right;
	color: #666;
	font-size:11px;
	}
