/* 診療内容ディレクトリ
----------------------------------------------------

	1. 診療内容
	2. インプラント
	3. バルプラスト

----------------------------------------------------
*/


/*	1. 診療内容
-----------------------------------------------	*/
#main-contents h1.h1-sinryo1{
	background-image:url(../images/dental_service/h1.gif);
	}


#main-contents h2.h2-1{
	background-image:url(../images/dental_service/h2_1.gif);
	}

#main-contents h2.h2-2{
	background-image:url(../images/dental_service/h2_2.gif);
	}


#general,#general2{
	width:537px;
	margin:0px;
	padding:1px 0px;
	border-bottom:1px solid #6DAD3F;
	background-image:url(../images/dental_service/tr_bg.gif);
	background-position:top;
	background-repeat:repeat-x;
	}

p.exp{
	margin-bottom:3px;
	background-color:#FDF7E3;
	padding:10px;
	}

dl{
	clear:both;
	background-image:url(../images/dental_service/tr_bg.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	padding:0px 0px 6px 0px;
	margin:6px 0px 0px 1px;
	width:536px;}


dl:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}

/*------診療内容(普通版）------*/
dl dt{
	float:left;
	width:130px;
	margin:0px 10px 0px 0px;
	background-color:#F4FFF6;
	padding:0px;
	text-align:center;
	height:34px;
	}

dl dt span{
	height:24px;
	display:block;
	margin:2px;
	font-weight:bold;
	border:1px solid #EBEBEB;
	padding-top:4px;
	}

dl dd{
	float:left;
	width:396px;
	margin:0px;
	height:24px;
	padding-top:4px;
	}


/*------2行------*/

dl.subject1 dt{
	float:left;
	width:130px;
	margin:0px 10px 0px 0px;
	background-color:#F4FFF6;
	height:44px;
	padding:0px;
	}

dl.subject1 dt span{
	height:34px;
	display:block;
	margin:2px;
	font-weight:bold;
	border:1px solid #EBEBEB;
	padding-top:4px;
	}

dl.subject1 dd{
	float:left;
	width:396px;
	margin:0px;
	height:44px;
	padding-top:2px;
	}

/*------3行バージョン------*/
dl.subject2 dt{
	float:left;
	width:130px;
	margin:0px 10px 0px 0px;
	background-color:#F4FFF6;
	height:64px;
	padding:0px;
	}

dl.subject2 dt span{
	height:54px;
	display:block;
	margin:2px;
	font-weight:bold;
	border:1px solid #EBEBEB;
	padding-top:4px;
	}

dl.subject2 dd{
	float:left;
	width:396px;
	margin:0px;
	height:64px;
	padding-top:2px;
	}

/*------4行バージョン------*/
dl.subject3 dt{
	float:left;
	width:130px;
	margin:0px 10px 0px 0px;
	background-color:#F4FFF6;
	height:90px;
	padding:0px;
	}

dl.subject3 dt span{
	height:80px;
	display:block;
	margin:2px;
	font-weight:bold;
	border:1px solid #EBEBEB;
	padding-top:4px;
	}

dl.subject3 dd{
	float:left;
	width:396px;
	margin:0px;
	height:90px;
	padding-top:2px;
	}

/*------5行バージョン------*/
dl.subject4 dt{
	float:left;
	width:130px;
	margin:0px 10px 0px 0px;
	background-color:#F4FFF6;
	height:104px;
	padding:0px;
	}

dl.subject4 dt span{
	height:94px;
	display:block;
	margin:2px;
	font-weight:bold;
	border:1px solid #EBEBEB;
	padding-top:4px;
	}

dl.subject4 dd{
	float:left;
	width:396px;
	margin:0px;
	height:104px;
	padding-top:2px;
	}

/*------6行バージョン------*/

dl.subject5 dt{
	float:left;
	width:130px;
	margin:0px 10px 0px 0px;
	background-color:#F4FFF6;
	height:124px;
	padding:0px;
	}

dl.subject5 dt span{
	height:114px;
	display:block;
	margin:2px;
	font-weight:bold;
	border:1px solid #EBEBEB;
	padding-top:4px;
	}

dl.subject5 dd{
	float:left;
	width:396px;
	margin:0px;
	height:124px;
	padding-top:2px;
	}

/*------7行バージョン------*/

dl.subject6 dt{
	float:left;
	width:130px;
	margin:0px 10px 0px 0px;
	background-color:#F4FFF6;
	height:144px;
	padding:0px;
	}

dl.subject6 dt span{
	height:134px;
	display:block;
	margin:2px;
	font-weight:bold;
	border:1px solid #EBEBEB;
	padding-top:4px;
	}

dl.subject6 dd{
	float:left;
	width:396px;
	margin:0px;
	height:144px;
	padding-top:2px;
	}


/*------8行バージョン------*/

dl.subject7 dt{
	float:left;
	width:130px;
	margin:0px 10px 0px 0px;
	background-color:#F4FFF6;
	height:164px;
	padding:0px;
	}

dl.subject7 dt span{
	height:154px;
	display:block;
	margin:2px;
	font-weight:bold;
	border:1px solid #EBEBEB;
	padding-top:4px;
	}

dl.subject7 dd{
	float:left;
	width:396px;
	margin:0px;
	height:164px;
	padding-top:2px;
	}




/*------お問い合わせ------*/

#inquiry{
	clear:both;
	margin:20px 0px 0px;
	background-image:url(../images/dental_service/inquiry_bg.gif);
	background-repeat:repeat-x;
	height:55px;
	}

#inquiry img{
	margin:11px 15px;
	float:left;
	}
#inquiry p{
	padding:11px 15px 11px 0px;
	}



/*------GEマネー、スペシャル------*/

#credit,#spe{
	clear:both;
	margin:30px 0px 30px;
	padding:0px;
	background-image:url(../images/spe_bg.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	}

#credit h2{
	background-image:url(../images/dental_service/h2_spe.gif);
	margin:0px;
	height:45px;
	}

/*------
#credit p.copy1,#credit p.copy2,#credit p.copy3{
	background-repeat:no-repeat;
	width:537px;
	height:20px;
	margin-bottom:0px;
	}

#credit p.copy1{
	background-image:url(../images/dental_service/copy_bg1.gif);

	}

#credit p.copy2{
	background-image:url(../images/dental_service/copy_bg2.gif);
	}

#credit p.copy3{
	background-image:url(../images/dental_service/copy_bg3.gif);
	}
------*/

#main-contents #credit div{
	margin:0px 10px 10px;
	padding:10px 10px;
	background-color:#ECFCEF;
	}


/*------矢印
.ge span{
	display:block;
	margin:3px;
	padding:0px;
	text-align:right;
	}

.ge span a{
	background-image:url(../images/list_bg.gif);
	background-repeat:no-repeat;
	margin:0px;
	padding:0px 0px 0px 10px;

}
------*/

/*	2. インプラント
-----------------------------------------------	*/
#main-contents h1.h1-sinryo2{
	background-image:url(../images/dental_service/h1_implant.gif);
	}

#main-contents h2.h2-implant1{
	background-image:url(../images/dental_service/h2_implant1.gif);
	}

#main-contents h2.h2-implant2{
	background-image:url(../images/dental_service/h2_implant2.gif);
	}

#main-contents h2.h2-implant3{
	background-image:url(../images/dental_service/h2_implant3.gif);
	}
#main-contents #spe{
	margin:0px;
	}


#main-contents #spe h2{
	height:55px;
	margin-bottom:0px;
	}
/*インプラント*/
#main-contents #spe h2.imp{
	background-image:url(../images/dental_service/h2_solution.gif);
	}
/*バルプラスト*/
#main-contents #spe h2.val{
	background-image:url(../images/dental_service/h2_artificial.gif);
	}

#main-contents #spe ul{
	margin:0px;
	padding:0px 10px 10px;
	list-style:none;
	background-image:url(../images/texture_bg.gif);
	}

#main-contents #spe ul li{
	padding:4px 25px;
	margin:0px 0px 10px 0px;
	background-color:#FFFFFF;
	background-image:url(../images/dental_service/peke_mark.gif);
	background-repeat:no-repeat;
	}


/*---症例写真（注釈入り）---*/

.impcase{
	background-image:url(../images/dental_service/case_bg.gif);
	background-repeat:no-repeat;
	margin-bottom:10px;
	}

.impcase:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.impcase {display: inline-block;}

/* Hides from IE-mac \*/
* html .impcase {height: 1%;}
.impcase {display: block;}
/* End hide from IE-mac */



/*	3. バルプラスト
-----------------------------------------------	*/
#main-contents h1.h1-sinryo3{
	background-image:url(../images/dental_service/h1_valplast.gif);
	}
#main-contents h2.h2-valprast1{
	background-image:url(../images/dental_service/h2_valprast1.gif);
	}

p.valcopy{
	background-image:url(../images/dental_service/valcopy_bg.gif);
	background-repeat:no-repeat;
	height:15px;
	margin-top:15px;
	}


/*---症例写真---*/

.case1{
	margin-top:15px;
	border-bottom:1px solid #8CC8F3;
	padding-bottom:15px;
	width:537px;
	}

div.photo{
	text-align:center;
	}

div.photo img.lphoto{
	margin-right:40px;
	}
/*---症例写真（注釈入り）---*/

.photo1{
	width:224px;
	margin:0px 40px 10px 24px;
	float:left;
	}

.photo2{
	width:224px;
	float:left;
	}

.photo1 p,.photo2 p{
	text-align:center;
	}
