<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja"><!-- InstanceBegin template="/Templates/lebel2.dwt" codeOutsideHTMLIsLocked="false" --><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="ROBOTS" content="INDEX">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<!-- InstanceBeginEditable name="keyword" -->
<meta name="keywords" content="歯,白,痛,期間,西新宿,新宿区,東京,歯科医,歯医者,歯">
<meta name="description" content="新宿区西新宿の歯医者、西新宿歯科TOYOクリニックです（新宿駅近く）。インプラント、審美歯科、歯周病治療、歯を白くするホワイトニングまで">
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="doctitle" -->
<title>{{ title }}</title>
<!-- InstanceEndEditable -->
<link href="./css/screen.css" rel="stylesheet" type="text/css" media="all">
<!-- InstanceBeginEditable name="plus_css" -->

<!-- InstanceEndEditable -->
<!--[if IE 6 ]><link rel="stylesheet" type="text/css" media="all" href="../css/for-ie.css" /><![endif]-->
<!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
<script>
//Load livereload.js for development.
var pattern = /^(192\.168\.|127\.0\.0\.1|localhost)/i
if (pattern.test(location.host) === true) {
  document.write('<script src="http://'
      + location.host.split(':')[0]
      + ':35729/livereload.js"></'
      + 'script>');
}
</script>
<script async="" src="//www.google-analytics.com/analytics.js"></script><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-238463-30', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
{{> pr }}
<!-- /pr -->
<!-- ■■PRテキスト■■-->
<div id="allwrap">
{{> header }}
{{{ contents }}}
{{> footer }}
</div>
<!-- / allwrap -->

<!-- InstanceEnd -->
</body>
</html>
