@charset "Shift_JIS";

body{
	padding-left:1px;
}
	

/* ヘッダー */
div#header {
	line-height: 0;
	font-size: 12px;
	margin-top:-5px;
}

	
/*ピックアップコンテンツの微調整*/
#pickup-contents{
	padding-bottom:15px;
	background-image:url(../images/pickup_bg_forie.gif);
	}

#pickup-contents .p2{
	margin:0px 7px 0px 7px;
	}
	
/*ご挨拶・活動方針の微調整*/	
#policy{
	pading-bottom:-9px;
	}



/*ぱん屑リスト*/


div#pan p{
	margin:0px;
	vertical-align:middle;
	padding:6px 0px 0px 12px;
	font-size: 9px;
	}
	
div#pan a:link{color:#700037;text-decoration:none;font-size: 9px;}
div#pan a:visited{color:#700037;text-decoration:none;font-size: 9px;}
div#pan a:hover{color:#700037;text-decoration:underline;font-size: 9px;}


/*診療内容、お問い合わせボタンのエリア*/

#inquiry{
	margin-bottom:-13px;
	}
/*---症例写真（注釈入り）---*/

.photo1{
	width:224px;
	margin:0px 40px 10px 12px;
	}		

#map{	
	width:537px;
	}




	