/* 医院紹介
----------------------------------------------------

	1. 見出しクラスわけ
	2. 診療方針
	3. 院長紹介
	4.
	5. 画像
	6. 院内紹介


----------------------------------------------------
*/


/*	1. 見出しクラスわけ
-----------------------------------------------	*/
#main-contents h1{
	background-image:url(../images/info/h1.gif);
	}

#main-contents h2.h2-1{
	background-image:url(../images/info/h2_1.gif);
	}

#main-contents h2.h2-2{
	background-image:url(../images/info/h2_2.gif);
	}

#main-contents h2.h2-3{
	background-image:url(../images/info/h2_3.gif);
	}

#main-contents h2.h2-4{
	background-image:url(../images/info/h2_4.gif);
	}

#main-contents h2.h2-past{
	background-image:url(../images/info/h2_past.gif);
	}




/*	2. 診療方針
-----------------------------------------------	*/

#concept{
	background-image:url(../images/blue_bg.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	padding-bottom:10px;
	}


#concept h2{
	background-image:url(../images/info/h2_blue.gif);
	background-repeat:no-repeat;
	height:38px;
	}
#concept p{
	background-image:url(../images/info/psinrai.gif);
	width:537px;
	height:29px;
	margin:0px;
	}

#concept ol{
	margin-top:0px;
		}


/*	3. 院長紹介
-----------------------------------------------	*/
#doctor{
	clear:both;
	margin:0px 0px 30px;
	/*
	background-color:#effaff;
	*/
	background-image:url(../images/info/doctor_bg.gif);
	padding:10px;
	height: 176px;
	}

#doctor p{
	margin:0px;
	}

#doctor p.d_name{
	font-size:14px;
	margin-bottom:12px;
	}

/*	4.
-----------------------------------------------	*/

#main-contents #subject{
	clear:both;
	margin-top:10px;
	border-top:1px dashed #91cfff;
	}
#subject p{
	margin-top:10px;
	}
#main-contents #subject ul{
	list-style-type:none;
	margin:0px;
	padding:0px 10px;
	}


#main-contents #subject ul li{
	float:left;
	background:url(../images/list_bg.gif);
	background-repeat:no-repeat;
	padding:0px 0px 0px 11px;
	margin:0px;
		}
#main-contents #subject ul li.margin{
	margin-left:15px;
	}






/*	6. 院内紹介
-----------------------------------------------	*/
#facility-img{
	width:537px;
	}

#facility-img .img-1{
	width:259px;
/*	width:180px;*/
	float:left;
	}
#facility-img .img-2{
	width:259px;
	float:left;
	margin:0px 0px 0px 12px;
	padding:0px;
	}

#facility-img .img-1 p,#facility-img .img-2 p{
	padding:3px 3px 0px;
	}
p.faci-name{
/*	background-color:#DDF5F6; */
	margin:2px 0px 2px;
	}
