---
title: 新宿区西新宿 西新宿歯科TOYOクリニック - 診療案内
---
<link href="./css/dental-service.css" rel="stylesheet" type="text/css" media="all">
<!-- ●●メインメニュー●● -->
<!-- InstanceBeginEditable name="menu" -->
<div id="menu">
  <h2 class="rmv">西新宿歯科TOYOクリニック　ホームページ　メインメニュー</h2>
  <ul>
    <li id="menu-home"><a href="./index.html">トップページ</a></li>
    <li id="menu-1"><span><a href="./dental_service.html">診療内容</a></span></li>
    <li id="menu-2"><a href="./info.html">医院紹介</a></li>
    <li id="menu-3"><a href="./price_list.html">治療費</a></li>
    <li id="menu-4"><a href="./access.html">アクセス</a></li>
  </ul>
</div>
<!-- InstanceEndEditable -->
<!-- / menu -->
<!-- ■■□□□パン屑リスト□□□■■ -->
<div id="pan">
<!-- InstanceBeginEditable name="pankuzu" -->診療内容<!-- InstanceEndEditable -->
</div>
<!-- / pan -->
<!-- ■■□□□メインコンテンツここから□□□■■ -->
<div id="mainwrap" class="clear-fix">
<!-- ●●メインコンテンツ（左カラム）●● -->
<div id="main-contents"><!-- InstanceBeginEditable name="mein" -->
<h1 class="h1-sinryo1"><span class="rmv">診療内容</span></h1>
<h2 class="h2-1"><span class="rmv">納得治療のために</span></h2>
<div id="general">
<dl class="subject3">
<dt>
<span>予約診療</span></dt>
<dd class="clear-fix">
全ての患者様に丁寧で正確な治療を受けていただきたいと思っております。<br>
そのために、治療に時間のかかる場合は、少々お待たせすることがございます。受診に当たっては、ご予約にて来院されますようご協力お願い致します。</dd>
</dl>
<dl class="subject4">
<dt>
<span>治療相談</span></dt>
<dd class="clear-fix">
『歯の治療』というと、何度も通院しなければ・・・というイメージをお持ちではないですか？当クリニックでは、治療内容や治療スケジュール、治療に必要な費用を、分かりやすくご説明致します。<br>
お口の中で心配なことがありましたらお気軽にご相談下さい。予約制にて無料治療相談を行います。</dd>
</dl>
<dl class="subject2">
<dt>
<span>保険治療</span></dt>
<dd class="clear-fix">
健康保険により充実した治療を受けることができます。<br>
ただし、保険治療に使われる材料や方法には制限があるため、必要に応じて別途ご説明・ご相談させて頂きます。</dd>
</dl>
<dl class="subject6">
<dt>
<span>精密治療</span></dt>
<dd class="clear-fix">
保健治療からインプラント治療までの全てにおいて、症例に応じて、拡大鏡（サージテル）を使用した治療を行います。<br>
確かな治療を行う為に、『よく見えること』は大切です。サージテルを使用することで、裸眼では見逃してしまいそうな小さな虫歯もきちんと発見することでき、詰め物やかぶせ物に生じた不適合な隙間等も発見することができます。虫歯治療をする際にも、正確に削ることができるので、詰め物の適合もよくなり、治療した部位を長持ちさせることができます。</dd>
</dl>
</div>
<!-- / general -->
<h2 class="h2-2"><span class="rmv">健康な歯・美しい歯を作るため</span></h2>
<div id="general2">
<dl class="subject4">
<dt>
<span>一般診療</span></dt>
<dd class="clear-fix">
虫歯・歯周病などの治療と、虫歯予防の為のブラッシング指導を行っております。<br>
虫歯や歯周病治療は、健康保険が適用されます。当クリニックでは、皆様の大切な歯を、出来る限り削らない治療を心がけております。また、無痛治療も行っております。</dd>
</dl>
<dl class="subject7">
<dt>
<span>歯周病治療</span></dt>
<dd class="clear-fix">
歯周病は虫歯と違い、進行してしまうと元の状態には戻らなくなってしまう怖い病気です。日本人の80％は歯周病に罹患していると言われますが、痛みや症状が出にくいため、殆どの方が気が付いておりません。継続的な治療が必要になり、治療後も再発予防のためのメンテナンスが必要となります。<br>
当クリニックでは、所属の専任歯科衛生士が独自に開発したNAクリーニング等により、歯周病予防からメンテナンスまで、しっかりと管理させて頂いております。重度の歯周病が改善するということもあり、全国の患者様にいらして頂いております。</dd>
</dl>
<dl class="subject5">
<dt>
<span>審美歯科</span></dt>
<dd class="clear-fix">
審美歯科というと、見た目を美しくする美容歯科的なイメージをお持ちではないでしょうか？<br>
もちろん、歯の形や歯並び、歯肉の色を綺麗にすることは審美歯科の一部ですが、虫歯の治療後に入れる詰め物・かぶせ物を金属から白い素材のもの（天然の歯と同色のもの）に替えることも審美歯科なのです。審美歯科でも、健康保険が適用されるものもあります。ぜひ一度ご相談下さい。</dd>
</dl>
<dl class="subject5">
<dt>
<span>矯正歯科</span></dt>
<dd class="clear-fix">歯の並びをきれいにする治療です。歯を削ることなく、ご自身の歯を理想的な位置に並べます。<br>
見た目の美しさはもちろん、噛み合わせなど歯が持つ本来の機能も改善され、しっかりと美味しく咬むことができるようになります。歯の並びがきれいになることで、歯ブラシがしやすくなり、結果的に虫歯や歯周病の予防にもなります。</dd>
</dl>
<dl class="subject6">
<dt>
<span>インプラント</span></dt>
<dd class="clear-fix">虫歯・歯周病、事故などで歯を失ってしまった部分に、歯を入れる治療です。<br>
歯を失ってしまった方、入れ歯（義歯）に抵抗や違和感を覚える方に最適な治療法です。高度な治療技術と診療が必要となりますので、患者様の状態によっては、3次元的なレントゲン（3D-CT等）撮影をさせて頂く場合がございます。また、喫煙者や重度のご病気（糖尿病等）をお持ちの方は、治療を受けることができない場合がございます。まずは一度ご相談下さい。</dd>
</dl>
</div>
<!-- / general2 -->
<p class="ptop"><a href="./dental_service.html#top">ページトップ</a></p>
<!-- InstanceEndEditable --></div>
<!-- / main-contents -->
{{> sub-contents }}
</div>
<!-- / mainwrap -->
