---
title: 西新宿歯科TOYOクリニック（新宿区西新宿）のインプラント・審美歯科・歯周病
---
<link href="./css/implant.css" rel="stylesheet" type="text/css" media="all">
<!-- ●●メインメニュー●● -->
<!-- InstanceBeginEditable name="menu" -->
<div id="menu">
  <h2 class="rmv">西新宿歯科TOYOクリニック　ホームページ　メインメニュー</h2>
  <ul>
    <li id="menu-home"><a href="./index.html">トップページ</a></li>
    <li id="menu-1"><a href="./dental_service.html">診療内容</a></li>
    <li id="menu-2"><a href="./info.html">医院紹介</a></li>
    <li id="menu-3"><a href="./price_list.html">治療費</a></li>
    <li id="menu-4"><a href="./access.html">アクセス</a></li>
  </ul>
</div>
<!-- InstanceEndEditable -->
<!-- / menu -->
<!-- ■■□□□パン屑リスト□□□■■ -->
<div id="pan">
<!-- InstanceBeginEditable name="pankuzu" -->インプラント・審美歯科・歯周病<!-- InstanceEndEditable -->
</div>
<!-- / pan -->
<!-- ■■□□□メインコンテンツここから□□□■■ -->
<div id="mainwrap" class="clear-fix">
<!-- ●●メインコンテンツ（左カラム）●● -->
<div id="main-contents"><!-- InstanceBeginEditable name="mein" -->
<h1><span class="rmv">インプラント・審美歯科・歯周病【西新宿歯科TOYOクリニック】</span></h1>

<h2 class="h2-1"><span class="rmv">インプラント治療とは</span></h2>
<p>虫歯や事故など、様々な要因により、人は歯を失います。1本だけ失う場合もありますし、並んだ何本かを失う場合もあります。また上あごや、下あごの全部の歯がなくなってしまうこともあります。</p>

<p>失った歯が1～2本の場合、隣り合った健康な歯を支えとする「ブリッジ」や「差し歯」などの義歯が適用されることが多く、全部の歯がなくなった場合には、歯ぐきに吸着させるタイプの総入れ歯を作るのが一般的な解決法として普及しています。</p>
<p>
しかし、ブリッジや差し歯の場合、下記のようなトラブルを耳にすることがあります。<br>
<span class="green13"><strong>●まわりの歯と義歯の違いが目立ち、人前で口を開くことができない <br>
●金属製のブリッジや支えのバネに食べ物が挟まるため、好きな物を食べることができない <br>
●義歯が合わなくなり、何度も作り直している <br>
●食事中や話している最中、またスポーツなどで体を動かしている時に、義歯が動いたり外れそうになったりして気になる</strong></span><br>
……など。</p>

<p>また、総入れ歯で、満足できる入れ歯がなかなか手に入らない場合、トラブルはより深刻になります。</p>
<p>
<span class="green13"><strong>●ことばをうまく発音できず、人前に出たり、話をすることが億劫になる <br>
●食事の時に入れ歯と歯ぐきの間に食べ物が入り込む <br>
●噛む力を充分かけることができず、固い物が食べられない <br>
●歯ぐきが覆われていて、食べ物がおいしく感じられない <br>
●食事の後、入れ歯を外して洗ったりするために、外出や旅行が気軽にできない <br>
●口臭がひどいのではないかと不安で、人に会うことができない</strong></span><br>
 ……など。 </p>
<p>
このような問題を抱える患者さんのために研究・開発されてきたのがインプラント（人口歯根）による治療法です。</p>
<h2 class="h2-2"><span class="rmv">【西新宿歯科TOYOクリニック】従来の治療法とインプラントの違い</span></h2>
<div id="about">
<table summary="インプラント比較" cellspacing="1">
<tbody><tr>
<th scope="col" class="white">&nbsp;</th>
<th scope="col" class="pink">隣接する歯を<br>
1,2本失った場合</th>
<th scope="col" class="pink">奥歯を含めて<br>
複数の歯を失った場合</th>
<th scope="col" class="pink">全ての歯を失った場合</th>
</tr>
<tr>
<th scope="row" id="before">ブリッジ<br>
部分入れ歯<br>
総入れ歯</th>
<td>両隣の歯を削って人工の歯をかぶせます<img src="./images/img1.gif" alt="隣接する歯を失った場合" width="125" height="100">
  <ul>
<li>噛む際に、削られた歯に負担がかかり痛みやすい</li>
<li>歯根の無い歯は、噛むことによる刺激がないため、次第にやせてしまう</li>
</ul></td>
<td>人工の歯を固定するために金属のバネで健康な歯に固定します
<img src="./images/img2.gif" alt="複数の歯を失った場合" width="165" height="100">
<ul>
<li>金属のバネをかける健康な歯に負担がかかる</li>
<li>常に違和感がある</li>
<li>金属のバネが見えて、見栄えが良くない</li>
<li>金属バネの間に食べ物が詰まりやすく、丁寧に掃除をしないと、虫歯や口臭の原因となる</li>
</ul></td>
<td>人工の歯（入れ歯）を歯茎全体にかぶせます
<img src="./images/img3.gif" alt="全ての歯を失った場合" width="165" height="100">
<ul>
<li>入れ歯がぐらついたり、ずれたりする</li>
<li>硬いものが噛めない</li>
<li>入れ歯が舌を塞いで、味がわからない</li>
<li>食べ物がいればと歯茎の間に挟まり、痛む</li>
<li>あごがやせてしまったために、年老いて見える</li>
</ul></td>
</tr>
<tr>
<th scope="row" class="white" id="middle">&nbsp;</th>
<td class="arrow"><img src="./images/arrow_implant.gif" alt="やじるし"></td>
<td class="arrow"><img src="./images/arrow_implant.gif" alt="やじるし"></td>
<td class="arrow"><img src="./images/arrow_implant.gif" alt="やじるし"></td>
</tr>
<tr>
<th scope="row" id="after">インプラント</th>
<td>インプラントを埋め込み、その上に人工の歯冠を固定します
<img src="./images/img4.gif" alt="インプラント：隣接する歯を失った場合">
<ul>
<li>健康な歯を利用しないため、自分の歯を保てる</li>
<li>歯茎に噛む力がかかるので、歯茎を健康に保てる</li>
</ul></td>
<td>人工の歯を両隣のインプラントで支えることもできます
<img src="./images/img5.gif" alt="インプラント：複数の歯を失った場合">
<ul>
<li>インプラントは時間の経過とともにあごの骨と結合するため、歯を支える力は健康な歯とほとんど変わらない</li>
<li>単独で処置するので、健康な歯をそのまま保てる</li>
<li>外観も機能も天然の歯と変わらない感覚が得られ、違和感がない</li>
<li>特別なケアの必要がない</li>
</ul></td>
<td>複数のインプラントを埋め込み、人工の歯を固定します
<img src="./images/img6.gif" alt="インプラント：全ての歯を失った場合">
<ul>
<li>インプラントはあごの骨に固定されるため、ぐらつかない</li>
<li>天然の歯と変わらない感覚で物をかんだり、味わうことができる</li>
<li>食べ物が挟まることはほとんどない</li>
<li>天然の歯と同様の外観を保つため、年老いて見えることはない</li>
</ul></td>
</tr>
</tbody></table>
</div>
<p class="ptop"><a href="./implant.html#top">ページトップ</a></p>
<h2 class="h2-3"><span class="rmv">【西新宿歯科TOYOクリニック】インプラントの良さ</span></h2>
<p><strong class="green13">インプラント治療には、他の治療方法とは比較できない様々な良さがあります。</strong><br>
すっきりとした見た目、天然の歯と同じ噛み心地など、インプラントはご自分の歯に変わる「第2の永久歯」として活躍してくれます。 ここではインプラント治療が、歯の健康や日常生活にもたらす価値をご紹介します。</p>

<h3><span class="rmv">【西新宿歯科TOYOクリニック】</span><span>自分の歯と同じように食べることができる</span></h3>
<img src="./images/img3_2.jpg" class="left-margin" alt="インプラント治療 イメージ">
<p>インプラントは入れ歯と違い、骨にしっかりと固定されていますので、力をかけて硬い食べ物もしっかりと咬むことができます。噛みしめることで出てくるお食事の美味しい味を損なうことはありません。</p>
<p>また、お食事のときに食べ物が入れ歯の下に入り込んで痛い、嫌なにおいがする、などの悩みもありません。</p>
<h3><span class="rmv">【西新宿歯科TOYOクリニック】</span><span>歯を気にすることなく人前でも笑ったり、話したりすることができる</span></h3>
<img src="./images/img3_1.jpg" class="right-margin" alt="インプラント治療 イメージ">
<p>入れ歯のように、他の歯にかけた金属が見えることもありませんし、取り外して清掃する必要もありません。</p>
<p>お食事中、おしゃべりを楽しんでいる最中にも、外れることや、歯が見えることを気にする必要がなくなり、思い切り楽しむことができます </p>

<p class="ptop"><a href="./implant.html#top">ページトップ</a></p>
<h2 class="h2-4"><span class="rmv">【西新宿歯科TOYOクリニック】治療の流れ</span></h2>
<p>ここではインプラント治療の基本的な流れを詳しく見ていきます。インプラント治療は一度の手術のみで終わるわけではなく、手術後の治癒期間、仮歯の作成など、いくつかのステップがあります。</p>
<p>しっかりとした手順を踏むことで安全性も高まり、治療後も快適な生活が可能になります。 </p>
<div id="flow-wrap" class="clear-fix">

<div id="flow-right">
 <div class="flow-img2">
 <img src="./images/img2_1.jpg" alt="インプラント治療の流れ" width="143" height="136" class="left-margin">
<p class="flow-name">1. 検査・診断</p>
<ul><li>インプラントを埋め込む顎の骨の量や質、形を診査するため、お口の中の型を取ります。</li>
<li>
レントゲン撮影、また骨の状態によっては、CT撮影を行います。</li>
</ul>
</div>
<!-- / flow-img -->
<div class="flow-img2">
<img src="./images/img2_2.jpg" alt="インプラント治療の流れ" width="143" height="136" class="left-margin">
<p class="flow-name">2. 一次手術</p>
<ul><li>麻酔をしてから、骨を削りインプラントを埋め込み、蓋を取り付けて粘膜を閉じます。</li>
<li>
1回法の手術の場合は大きめの蓋を取り付け、お口の中にその蓋が見えるようにして手術を終了し、2次手術は行いません。</li>
</ul>
</div>
<!-- / flow-img -->

<div class="flow-img2">
<img src="./images/img2_3.jpg" alt="インプラント治療の流れ" width="143" height="136" class="left-margin">
  <p class="flow-name">3. 二次手術</p>
<ul><li>2回法を選択した場合には、治癒期間終了後粘膜を開けて、大きい蓋に取り替える2次手術を行います。1回法の場合には不要です。
</li>
</ul>
</div><!-- / flow-img -->
<div class="flow-img2">
<img src="./images/img2_4.jpg" alt="インプラント治療の流れ" width="143" height="136" class="left-margin">
  <p class="flow-name">4. 仮歯装着</p>

<ul><li>治癒したところで、仮歯を作り、実際に使用していただきながら形態や装着感などを確認します。</li>
<li>かみ合わせや強度に違和感があれば主治医と相談し、本歯の作成に向けてデータを集めていきます。</li>
</ul>
</div><!-- / flow-img -->
<div class="flow-img2">
<img src="./images/img2_5.jpg" alt="インプラント治療の流れ" width="143" height="136" class="left-margin">
  <p class="flow-name">5. 最終的な歯の装着</p>
<ul>
<li>仮歯の装着で得た情報を基に最終的な本歯用の型を採り、歯並びや色をチェックして作成します。</li>
<li>
作成した本歯を装着し、治療が完了します。</li>
</ul>
</div>
<!-- / flow-img -->
<div class="flow-img2">
<img src="./images/img2_6.jpg" alt="インプラント治療の流れ" width="143" height="136" class="left-margin">
  <p class="flow-name">6. メンテナンス</p>
<ul>
<li>治療が終わった後も、定期検査をしながらきちんと管理していきましょう</li>
</ul>
</div>
<!-- / flow-img -->
</div>
</div>
<p class="ptop"><a href="./implant.html#top">ページトップ</a></p>
<h2 class="h2-5"><span class="rmv">【西新宿歯科TOYOクリニック】インプラントQ&amp;A</span></h2>
<ul class="qa-ul">
<li>
<p class="q"><span class="rmv">q</span>インプラントを適用できない場合はありますか？</p>
<p class="a"><span class="rmv">a</span>１本だけ歯を失った場合、複数の歯を失った場合、まったく歯が残っていない場合、いずれにおいてもインプラントによる治療は可能です。ただし、下記のような条件下では注意が必要です。</p>
<p class="a-2">【インプラント治療が制限されるケース】<br>
　　・妊娠中の方<br>
　　・全身疾患のある方<br>
　　・他の歯根に感染症のある方、歯周病の方<br>
　　・あごの骨の量が少ない方、骨粗鬆症の方<br>
　　・糖尿病や高血圧などの慢性疾患がある方は良好な状態にコントロールされている<br>ことが条件になります</p>
</li>
<li>
<p class="q"><span class="rmv">q</span>
治療費はいくらくらいですか？</p>
<p class="a"><span class="rmv">a</span>
インプラントを埋め込む本数や、治療方針、義歯部分の作製にかかる費用など、症例によって異なりますんで、事前にご相談いただき充分に納得されてから治療を始めることが大切です。</p>
<p class="a-2">
日本ではインプラント治療費が医療保険が適用されませんので従来の治療費に比べると高額と思われることが多いようです。しかし、総入れ歯を何度も作りなおした例やインプラントによる治療結果、効果を総合的に考慮すると一概に工学とは言えないでしょう。</p>
</li>

<li>
<p class="q"><span class="rmv">q</span>
インプラントは何年くらいもちますか？</p>
<p class="a"><span class="rmv">a</span>
1965年に初めて埋め込まれたインプラントが、現在も義歯を支える働きをしていることから、衛生状態が良く保たれているインプラントは、長い期間にわたって良好に機能することが期待できます。反対に、手入れが良くないと、インプラントの寿命が短くなることも考えられます。</p>
</li>

<li>
<p class="q"><span class="rmv">q</span>
治療期間はどのくらいかかりますか？</p>
<p class="a"><span class="rmv">a</span>
通常4～6カ月です。インプラントの本数や埋め込まれる箇所、採用される治療方法によって差があります。</p>
</li>

<li>
<p class="q"><span class="rmv">q</span>
手術の際、入院が必要ですか？</p>
<p class="a"><span class="rmv">a</span>
一次手術でも、二次手術でも入院の必要はありません。また、充分な局部麻酔下で手術を行いますので、従来の歯科診療に比べても痛みを感じる度合いは強くないと言えるでしょう。</p>
</li>

<li>
<p class="q"><span class="rmv">q</span>
人工の歯が壊れることはありますか？</p>
<p class="a"><span class="rmv">a</span>
充分な診療を行って治療計画を立て、その部位に最も適した材料で歯を作製しますので、簡単に壊れるようなことはありません。万が一壊れたとしても、作り直しは可能です。また、骨の状態を確認したうえで、インプラントを追加することも可能です。</p>
</li>
</ul>
<p class="ptop"><a href="./implant.html#top">ページトップ</a></p>


<h2 class="h2-6" id="beauty"><a name="beauty"><span class="rmv">【西新宿歯科TOYOクリニック】美しさを追求する歯科医療</span></a></h2>
<img src="./images/img4_1.jpg" class="right-margin" alt="審美歯科 イメージ">
<p>「審美」という言葉の響きから、どのようなことを想像されるでしょうか。美容整形やエステ、などのイメージが湧くでしょうか。<span class="green13"><strong>審美歯科（しんびしか）とは、美しさに焦点を当てた総合的な歯科医療分野の事を指します。</strong></span></p>

<h2 class="h2-7"><span class="rmv">【西新宿歯科TOYOクリニック】健やかで豊かな生活へと導きます</span></h2>
<p><span class="green13"><strong>一言に審美歯科といっても、単純に見た目をきれいにするだけが目的ではありません。</strong></span>審美歯科治療によって、正常な咬み合わせを作り出し、身体の機能をあるべき状態へ導くこともできます。また、歯にコンプレックスを持っていて人と話し辛い、思いきり笑えない、という方の悩みを解消することも、審美歯科の重要な役割の一つです。</p>
<p>審美歯科の目的も、他の一般的な医療行為と同様、ひとりでも多くの方が豊かな日々を送ることができるよう、健やかな身体づくりに貢献することにあります。歯についてお悩みの方は、ぜひお気軽にご相談下さい。</p>

<h2 class="h2-8"><span class="rmv">【西新宿歯科TOYOクリニック】きれいと健康は表裏一体</span></h2>
<img src="./images/img4_2.jpg" class="left-margin" alt="審美歯科 イメージ">
<p>人の身体において「きれい」ということと、「健康である」ことは表裏一体のものであり、特に歯においてその美しさは、機能美であることが多いと考えられます。様々な機械や車、電車なども力学的に考えられ、効率良い設計をされた場合に同時に美しさを併せ持ってしまうことに気づくことがあります。だからこそ近年 審美歯科の需要が高まっているのです。</p>
<p>元来、<span class="green13"><strong>歯は「生体鉱物」と言われる特殊な身体の組織、器官であり、その機能を果たすために細胞の一つ一つが確実な配置をとって構成されています。</strong></span>機能を果たすために最適な形態を持っているものなのです。そして審美歯科はその最適な形態になるべく近づけることを目的としています。</p>


<h2 class="h2-9"><span class="rmv">【西新宿歯科TOYOクリニック】セラミックなどの特殊材料による被せ物</span></h2>
<img src="./images/img4_3.jpg" width="175" height="139" class="right-margin" alt="被せ物 イメージ">
<p>歯を一層削り、表面にきれいな被せ物をかぶせて色や、形、歯並びを整える方法です。なかでもオールセラミックは、自然な光を透過する優れた美しさだけでなく、硬すぎて他の歯を傷つけることもない、強さとしなやかさまでも兼ね備えた理想的な材料です。</p>
<h3>セラミックを使った被せ物の種類</h3>

<h4>ラミネート</h4>
前歯などで表面を一層削り、その部分のみをセラミックで覆い、色や形を整える。材質は、生体親和性のあるアルミナや、ジルコニアが多く用いられている。
<h4>メタルボンドクラウン</h4>
金属の裏打ちの上にセラミックを焼き付けて作る被せ物（クラウン）。　強度もあるため、歯に近い色合いを出すクラウンとしては従来この方法が用いられてきた。 欠点としては、経年的に歯肉が下がった場合に被せた歯の根元に金属の色がでてくる可能性があること、金属の裏打ちがあるためのため、透明感を出すのが難しいことなどが挙げられる。
<h4>オールセラミッククラウン</h4>
強度のあるセラミックの上に、透明感のあるセラミックを焼き付けて作られるクラウン。かつては、強度が無いと言われていたが、最近は材料の改良により、奥歯にも用いることができるようになってきている。歯肉が下がっても、金属が出る心配が無く、金属アレルギーの心配も無い。

<p class="ptop"><a href="./implant.html#top">ページトップ</a></p>
<h2 class="h2-10"><span class="rmv">【西新宿歯科TOYOクリニック】理想の素材 セラミック</span></h2>
<p>オールセラミックは、自然な光を透過する優れた美しさだけでなく、硬すぎて他の歯を傷つけることもない、強さとしなやかさまでも兼ね備えた理想的な材料です。金属を一切使わないため、金属アレルギーの方にも安心してご利用いただけるという利点もあります。</p>
<p>
また、お口の中の歯肉とのなじみも良いため、かぶせ物周辺の歯肉の健康も維持できます。オールセラミックは、お口の中のどの部分にも、様々な形で装着できますので、歯科医院でよく相談し、あなたのお口に合った最善の治療法を見つけてください。</p>

<h2 class="h2-11"><span class="rmv">【西新宿歯科TOYOクリニック】従来の素材とオールセラミックの違い</span></h2>
<h3>金属</h3>
<img src="./images/img5_1.jpg" class="right-margin" alt="金属">
<p>これまで、歯のかぶせ物には金属を利用することがほとんどでした。食事や運動をするとき、歯には自分の体重くらいと言われるほどの大きな力がかかります。</p>
<p>
本来生まれ持った自分の歯は、その大きな力を支えるため、水晶に匹敵するといわれる硬さを備えています。 天然の歯を被せる必要が生じて、その換わりとなる材料を探すとき、その硬さを補う人工のかぶせ物には金属を使うしかありませんでした。</p>
<h3>メタルボンドクラウン</h3>
<img src="./images/img5_2.jpg" class="right-margin" alt="メタルボンドクラウン">
<p>
白い被せ物を作るときにも、ポーセレンを金属の枠組みに焼き付けて作る陶材焼付け冠（メタルボンドクラウン)という冠が長い間使用されてきています。この冠が従来、審美修復の王道と言えるでしょう。</p>
<p>
しかし、金属の裏打ちをした冠は経年的に金属が露出して歯肉との境目が黒く見えたり、自然な歯の輝きが思うように出ないなどの欠点もありました</p>

<p class="ptop"><a href="./implant.html#top">ページトップ</a></p>
<h2 class="h2-12"><span class="rmv">【西新宿歯科TOYOクリニック】治療の事例</span></h2>
<h3>クラウンによる治療</h3>
<h4>治療例1</h4>
<div class="version2-2">
<div class="left">
<img src="./images/img6_1.jpg" alt="施術前">
<p class="name">施術前</p>
</div>
<img src="./images/yajirusi_type3.gif" alt="→" width="47" height="160" class="yajirushi">
<div class="left">
  <img src="./images/img6_2.jpg" alt="施術後">
  <p class="name">施術後</p>
</div>
</div>


<h4>治療例2</h4>
<div class="version2-2">
<div class="left">
<img src="./images/img7_1.jpg" width="175" height="139" alt="施術前">
<p class="name">施術前</p>
</div>
<img src="./images/yajirusi_type3.gif" alt="→" width="47" height="160" class="yajirushi">
<div class="left">
<img src="./images/img7_2.jpg" alt="施術後">
<p class="name">施術後</p>
</div>
</div>


<p class="ptop"><a href="./implant.html#top">ページトップ</a></p>

<h2 class="h2-13" id="perio"><a name="perio"><span class="rmv">歯周病</span></a></h2>
<h3>歯周病とは？</h3>
<p>歯周病は、歯の表面の歯垢（プラーク）や、細菌（バイオフィルム）が原因でおきてしまう病気です。
それが原因で、歯槽骨が解歯が歯茎から抜け落ちてしまう恐ろしい病気です。
初期の頃は、自覚症状が少なく、気づいたときにはかなり進行している場合が多いのも歯周病の特徴です。</p>
<h3>歯周病治療</h3>
<p>まずは、口腔内のチェックや、レントゲン撮影、歯がどの程度揺れてしまうかの検査を行います。
歯垢除去や、ブラッシング指導などを行い再度検査を行います。<br>
ここで、症状が改善される場合が多いのですが、場合によっては再生手術なども必要になる場合があります。</p>
<p class="ptop"><a href="./implant.html#top">ページトップ</a></p>
<!-- InstanceEndEditable --></div>
<!-- / main-contents -->
{{> sub-contents }}
</div>
<!-- / mainwrap -->
