---
title: 西新宿の歯科 - 西新宿歯科TOYOクリニック
---
<link href="./css/home2.css" rel="stylesheet" type="text/css" media="all">
<!-- ●●メインメニュー●● -->
<div id="menu">
<h2 class="rmv">西新宿歯科TOYOクリニック【東京都新宿区西新宿の歯医者】　メインメニュー</h2>
<ul>
<li id="menu-home"><a href="./index.html">トップページ</a></li>
<li id="menu-1"><a href="./dental_service.html">診療内容</a></li>
<li id="menu-2"><a href="./info.html">医院紹介</a></li>
<li id="menu-3"><a href="./price_list.html">治療費</a></li>
<li id="menu-4"><a href="./access.html">アクセス</a></li>
</ul>
</div>
<!-- / menu -->

<!-- ■■□□□キービジュアル□□□■■ -->
<!-- ●●キービジュアル●● -->
<div id="keyvisual" class="clear-fix">
<div id="keyphoto"><img src="./images/keyvisual.jpg" alt="新宿駅徒歩5分の西新宿歯科TOYOクリニック（東京都新宿区）"></div>
<!-- / keyphoto -->
<!-- ●●できること●● -->
<div id="keymenu">
<ul>
  <li class="menu1"><a href="http://www.secure-site.in/ASP/dent/toyonaga/pc/index.cgi">簡単オンライン予約</a></li>
  <li class="menu2"><a href="./dental_service.html">丁寧で正確な治療</a></li>
</ul>
</div>
<!-- / keymenu -->
</div>
<!-- / keyvisual -->
<!-- ■■□□□メインコンテンツここから□□□■■ -->

<div id="brush" class="clear-fix">
<p><strong class="f-size_16 f-red">「虫歯や歯周病を予防したい。健康できれいな歯にしたい。丁寧な治療を受けたい。」</strong></p>

</div>
<!-- / brush -->
<!-- <h2><img src="images/h2_pickup.gif" alt="健康な歯のお手伝い【増えてます、こんな治療】"></h2> -->
<!-- ●●おすすめコンテンツ●● -->
<div id="pickup-contents" class="clear-fix">
<div class="p1">
<h3><a href="./implant.html"><img src="./images/h3_1b.gif" alt="インプラント"></a></h3>
<p class="rmv">失った歯のかわりに新しい人工の歯をつくる治療法です。</p>
</div>
<!--/ p1 -->
<div class="p2">
<h3><a href="./implant.html#beauty"><img src="./images/h3_2b.gif" alt="審美歯科"></a></h3>
<p class="rmv">歯に白さと輝きを取り戻すことができます。</p>
</div>
<!-- / p2 -->
<div class="p1">
<h3><a href="./implant.html#perio"><img src="./images/h3_3b.gif" alt="歯周病治療"></a></h3>
<p class="rmv">プラークコントロールより良いお口の環境を得る治療です。</p>
</div>
<!-- / p1 -->
</div>
<!-- / pickup-contents -->



<!-- ●●当医院の治療方針●● -->
<div id="policy" class="clear-fix">

<h2><img src="./images/h2_welcome.gif" alt="ご挨拶"></h2>


<div class="greeting clear-fix">
<p>院長 豊永 善之</p>
</div>
<!-- / greeting -->

<div class="greeting clear-fix">
<p><img src="./images/pic_doctor_2.jpg" alt="豊永 善之" align="right">
<p style="width: 425px;">
  はじめまして。 歯科医師の豊永と申します。僕は新緑の季節になると犬と一緒にフィールドにでます。
  大自然はとてもキレイですね。キラキラ光合成もします。その葉や自然も意味があって、その形態をしています。
  お口の中も同じです。それぞれ、歯は意味があって色々な形をしているの です。僕は治療をする際、自然な口元を意識します。
  「あれ?何か変わった?」「キレイになった?」というような自然な感じを一番の審美と考えています。機能が伴っていない審美は本当の審美とは言えません。
  繊細な咬み合わせが体の健康をつくります。お口からの健康はぜひ豊永にお任せください。またご来院頂いた患者さまに安心して頂けるよう、丁寧な説明を心掛けております。
  <br>
  <br>
  歯科医院として、十分な知識と技術の向上に努めるのはもちろんですが、それ以上に人間性の向上に重きをおいて、
  温かみのある診療所を目指しております。 皆さまの健康増進のお手伝いができるよう、スタッフ一同皆さまのご来院をお待ちしております。</p>
</p>
</div>
<!-- / greeting -->

<div class="greeting clear-fix">
<p><strong>【所属学会】</strong><br>
日本口腔インプラント学会<br>
SJCD会員<br>
レーザー学会認定医<br>

<p><strong>【スタディグループ】</strong><br>
ASC(ABE'S SHILLA CIRCLE)所属<br>
UK　CLUB所属</p>
</div>
<!-- / greeting -->




</div>
<!-- / policy -->


<!--<div id="recruit" class="clear-fix">

<h3>採用情報</h3>
<img src="images/pic_staff.jpg" alt="スタッフ">
<div id="recruit-text">
<p>患者さまの増加につき、歯科衛生士を募集しています。<br>
詳しくはお電話でお問合せください。</p>

<p id="contact-number">03-5324-6789</p>
<p>担当：嶋田</p>

</div>
</div>-->

<div id="clinic-wrap" class="clear-fix">

<div id="clinic-l">

<h3>お知らせ</h3>
<p class="info-date"><strong>2016.08.01</strong></p>
<ul>
  <li>オープン。<br/>皆様のお口のパートナーになれますように頑張ります。</li>
</ul>
{{!-- <p class="info-date"><strong>2016.05.25</strong></p>
<ul>
<li>6/13（月）は、機械メンテナンス及び院内清掃のため、休診させていただきます。</li>
</ul> --}}
{{!-- <p class="info-date"><strong>2016.04.12</strong></p>
<ul>
<li>2016/8/12（金）、8/15（月）は、夏季休業とさせていただきます。</li>
<li>年末年始は、2016/12/28（水）～2017/1/3（水）の間休診させていただきます。</li>
</ul> --}}


<h3>休診日</h3>
<p class="clear-fix">毎週土曜日・日曜日・祝祭日</p>

<h3>アクセス</h3>
<p>各線　新宿駅　徒歩5分<br>
<p class="clear-fix"><a href="./access.html"><img src="./images/kakudai.gif" alt="このボタンをクリックすると拡大地図が見れます。"></a></p>
</div>
<!-- / clinic-l -->

<div id="clinic-r">
<h3>診療時間</h3>
<div id="time-table">
<table cellspacing="1" cellpadding="0" summary="診療時間">
<tbody><tr>
<th class="col" scope="col"><span class="rmv">診療時間：午前、午後</span></th>
<th class="col" scope="col">月</th>
<th class="col" scope="col">火</th>
<th class="col" scope="col">水</th>
<th class="col" scope="col">木</th>
<th class="col" scope="col">金</th>
<th class="col" scope="col">土</th>
<th class="col" scope="col">日</th>
</tr>
<tr>
<th class="row">【AM】10:00～14:00</th>
<td>○</td>
<td>○</td>
<td>○</td>
<td>○</td>
<td>○</td>
<td>×</td>
<td>×</td>
</tr>
<tr>
<th class="row">【PM】15:30～19:30</th>
<td>○</td>
<td>○</td>
<td>○</td>
<td>○</td>
<td>○</td>
<td>×</td>
<td>×</td>
</tr>
</tbody></table>
</div>
<p>※診療時間を20時まで延長いたしました。</p>
<!-- / time-table -->
<div id="banner">
<h3>リンク</h3>
<p class="clear-fix">
<a href="http://www.418net.jp/index.html" target="_blank"><img src="./images/418banner.gif" alt="歯科検索サイト418ねっと" border="0" class="bannerimg"></a>
<a href="http://www.hospita.jp/" target="_blank"><img src="./images/hospitabanner.gif" alt="口コミ病院検索 歯科検索ホスピタJP" border="0" class="bannerimg"></a>
</p>
<ul>
<li><a href="http://www.q-dent.jp/" target="_blank">歯の精密治療</a></li>
<li><a href="http://www.surgitel.jp/index.html" target="_blank">株式会社オーラルケア　サージテル</a></li>
<li><a href="http://na-dental-clinic.com/" target="_blank">エヌ・エイ歯科クリニック</a></li>
</ul>
</div>
<!-- / banner -->
</div>
<!-- / clinic-r -->

</div>
<!-- / clinic-wrap -->
