---
title: 新宿駅近く - 西新宿歯科TOYOクリニック - 医院紹介
---
<link href="./css/info.css" rel="stylesheet" type="text/css" media="all">
<!-- ●●メインメニュー●● -->
<!-- InstanceBeginEditable name="menu" -->
<div id="menu">
  <h2 class="rmv">西新宿歯科TOYOクリニック　ホームページ　メインメニュー</h2>
  <ul>
    <li id="menu-home"><a href="./index.html">トップページ</a></li>
    <li id="menu-1"><a href="./dental_service.html">診療内容</a></li>
    <li id="menu-2"><span><a href="./info.html">医院紹介</a></span></li>
    <li id="menu-3"><a href="./price_list.html">治療費</a></li>
    <li id="menu-4"><a href="./access.html">アクセス</a></li>
  </ul>
</div>
<!-- InstanceEndEditable -->
<!-- / menu -->
<!-- ■■□□□パン屑リスト□□□■■ -->
<div id="pan">
<!-- InstanceBeginEditable name="pankuzu" -->医院紹介<!-- InstanceEndEditable -->
</div>
<!-- / pan -->
<!-- ■■□□□メインコンテンツここから□□□■■ -->
<div id="mainwrap" class="clear-fix">
<!-- ●●メインコンテンツ（左カラム）●● -->
<div id="main-contents"><!-- InstanceBeginEditable name="mein" -->
<h1><span class="rmv">医院紹介【西新宿歯科TOYOクリニック】</span></h1>

<h2 class="h2-1"><span class="rmv">西新宿歯科TOYOクリニックの納得治療</span></h2>
<!-- <img src="images/doctor_photo.jpg" alt="院長：寺脇　貴範" class="right-margin"> -->
<p>西新宿歯科TOYOクリニックは、患者さん『ひとりひとりの立場』に立って、わかりやすく、ていねいで、正しい診療サービスを行います。</p>
<p class="clear-fix">
あたたかい人柄で確かな技術をもつ、信頼できるドクターが、治療内容や治療スケジュールをわかりやすくお話します。<br>
技術の習得、設備の充実は、歯科医として患者さんに当たり前のサービスと考えております。そして、コミュニケーションを大切に、ご納得いただける完全治療を目指しています。</p>
<h2 class="h2-2"><span class="rmv">院内・スタッフ紹介</span></h2>
<p>患者さんに安心して診察を受けて頂けるように心がけております。</p>
<div id="facility-img" class="clear-fix">
<div class="img-1">
<img src="./images/img_5.jpg" alt="落ち着いた待合室画像">
<p class="faci-name"><strong>落ち着いた待合室</strong></p>
</div>
<!-- / img-1 -->
<div class="img-2">
<img src="./images/img_6.jpg" alt="衛生管理された設備画像">
<p class="faci-name"><strong>衛生管理の行き届いた設備。<br>
診療室はセパレートされています。</strong></p>
</div>
<!-- / img-2 -->
</div>
<!-- / facility-img -->
<h2 class="h2-3"><span class="rmv">アクセスの良さも医院の売りです</span></h2>

<p class="clear-fix"><img src="./images/img_4.jpg" alt="目印" class="right-margin">患者さんと付き合っていただける歯科医院を目指すにはアクセスの良さも必要と考えております。各路線の新宿駅から5分以内という立地です。<br>
岡崎ビル3Ｆ3Ｆにあります。1Fの看板を目印にして下さい</p>



<h2 class="h2-past"><span class="rmv">過去にこのようなことをやっておりました</span></h2>

{{!-- <p class="f-blue"><strong>100円検診延長のお知らせ</strong></p> --}}
<p>
このたびボランティアで100円検診を行っております。
<br>
歯にお悩みのある方、お気軽にお電話ください。</p>
<img src="./images/img_100yenkenshin.gif" alt="西新宿歯科TOYOクリニックリーフレット">
<p class="ptop"><a href="./info.html#top">ページトップ</a></p>
<!-- InstanceEndEditable --></div>
<!-- / main-contents -->
{{> sub-contents }}
</div>
<!-- / mainwrap -->
