---
title: 西新宿歯科TOYOクリニック（新宿区西新宿）の治療費
---
<link href="./css/price-list.css" rel="stylesheet" type="text/css" media="all">
<!-- ●●メインメニュー●● -->
<!-- InstanceBeginEditable name="menu" -->
<div id="menu">
  <h2 class="rmv">西新宿歯科TOYOクリニック　ホームページ　メインメニュー</h2>
  <ul>
    <li id="menu-home"><a href="./index.html">トップページ</a></li>
    <li id="menu-1"><a href="./dental_service.html">診療内容</a></li>
    <li id="menu-2"><a href="./info.html">医院紹介</a></li>
    <li id="menu-3"><span><a href="./price_list.html">治療費</a></span></li>
    <li id="menu-4"><a href="./access.html">アクセス</a></li>
  </ul>
</div>
<!-- InstanceEndEditable -->
<!-- / menu -->
<!-- ■■□□□パン屑リスト□□□■■ -->
<div id="pan">
<!-- InstanceBeginEditable name="pankuzu" -->治療費<!-- InstanceEndEditable -->
</div>
<!-- / pan -->
<!-- ■■□□□メインコンテンツここから□□□■■ -->
<div id="mainwrap" class="clear-fix">
<!-- ●●メインコンテンツ（左カラム）●● -->
<div id="main-contents"><!-- InstanceBeginEditable name="mein" -->
<h1><span class="rmv">治療費</span></h1>

<table border="0" cellspacing="0" cellpadding="0" id="cost-table" summary="料金表">
  <tbody><tr>
    <th rowspan="7">かぶせもの</th>
    <td colspan="2">保険前歯<br>
    （前から3番目まで）</td>
    <td class="row">約6,000円<br>
      （3割負担の場合）</td>
  </tr>
  <tr>
    <td colspan="2">保険奥歯<br>
      （銀歯）</td>
    <td class="row">約3,000円<br>
      （3割負担の場合）</td>
  </tr>
  <tr>
    <td colspan="2">オールセラミック</td>
    <td class="row">￥120,000～<br>
      150,000</td>
  </tr>
  <tr>
    <td colspan="2">メタルセラミック</td>
    <td class="row">￥80,000～<br>
      110,000</td>
  </tr>
  <tr>
    <td colspan="2">メタルハイブリッドセラミック</td>
    <td class="row">￥50,000</td>
  </tr>
  <tr>
    <td colspan="2">ゴールド</td>
    <td class="row">￥60,000</td>
  </tr>
  <tr>
    <td colspan="2">プラチナゴールド</td>
    <td class="row">￥80,000</td>
  </tr>
  <tr>
    <th rowspan="5">つめもの</th>
    <td colspan="2">保険銀歯</td>
    <td class="row">約2,000円<br>
      （3割負担の場合）</td>
  </tr>
  <tr>
    <td colspan="2">セラミック</td>
    <td class="row">￥50,000</td>
  </tr>
  <tr>
    <td colspan="2">ハイブリッドセラミック</td>
    <td class="row">￥25,000</td>
  </tr>
  <tr>
    <td colspan="2">ゴールド</td>
    <td class="row">￥40,000</td>
  </tr>
  <tr>
    <td colspan="2">プラチナゴールド</td>
    <td class="row">￥50,000</td>
  </tr>
  <tr>
    <th rowspan="4">入れ歯</th>
    <td colspan="2">保険部分入れ歯</td>
    <td rowspan="2" class="row">約3,000円～約10,000円<br>
    （3割負担の場合）</td>
  </tr>
  <tr>
    <td colspan="2">保険総入れ歯</td>
    </tr>
  <tr>
    <td colspan="2">やわらかく、バネのない入れ歯</td>
    <td class="row">￥100,000～￥150,000</td>
  </tr>
  <tr>
    <td colspan="2">完全にフルオーダー入れ歯</td>
    <td class="row">￥300,000～</td>
  </tr>
  <tr>
    <th rowspan="2">インプラント<br>
（世界トップシェアのノーベルバイオケア社・ＩＴＩ社を使用）</th>
    <td colspan="2">骨に埋める土台</td>
    <td class="row">￥230,000</td>
  </tr>
  <tr>
    <td colspan="2">かぶせもの</td>
    <td class="row">￥120,000～</td>
  </tr>
  <tr>
    <th>ホームホワイトニング</th>
    <td colspan="2">上下いずれかから出来ます</td>
    <td class="row">￥17,500～￥35,000</td>
  </tr>

  <tr>
    <th rowspan="2">矯正</th>
    <td colspan="2">相談</td>
    <td class="row">無料</td>
  </tr>
  <tr>
    <td colspan="2">治療</td>
    <td class="row">専門医ご紹介</td>
  </tr>
  <tr>
    <th>デンタルクリーニング</th>
    <td colspan="2">45分</td>
    <td class="row">約3,500円<br>
      （保険証をお持ち下さい）</td>
  </tr>
  <tr>
    <th rowspan="2">かみ合わせ</th>
    <td colspan="2">相談</td>
    <td class="row">無料</td>
  </tr>
  <tr>
    <td colspan="2">検査・診断</td>
    <td class="row">￥20,000</td>
  </tr>
  </tbody></table>
<p class="ptop"><a href="./price_list.html#top">ページトップ</a></p>
<!-- InstanceEndEditable --></div>
<!-- / main-contents -->
{{> sub-contents }}
</div>
<!-- / mainwrap -->
